<!DOCTYPE html>

{% load static %}
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          

        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
          </button>
          <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
              <!-- <div class="input-group"> -->
                <!-- <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                  <span class="input-group-text" id="search">
                    <i class="icon-search"></i>
                  </span>
                </div>
                <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search" />
              </div> -->
            </li>
          </ul>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
              <!-- <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                <i class="icon-bell mx-0"></i>
                <span class="count"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-success">
                      <i class="ti-info-alt mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">Just now</p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-warning">
                      <i class="ti-settings mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">Private message</p>
                  </div>
                </a>
                <a class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-info">
                      <i class="ti-user mx-0"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                    <p class="font-weight-light small-text mb-0 text-muted">2 days ago</p>
                  </div>
                </a>
              </div> -->
            </li>
            <li class="nav-item nav-profile dropdown">
              <!-- <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                <img src="{% static 'images/faces/face28.jpg' %}" alt="profile" />
              </a> -->
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item">
                  <i class="ti-settings text-primary"></i>
                  Settings
                </a>
                <a class="dropdown-item">
                  <i class="ti-power-off text-primary"></i>
                  Logout
                </a>
              </div>
            </li>
            <!-- <li class="nav-item nav-settings d-none d-lg-flex">
              <a class="nav-link" href="#">
                <i class="icon-ellipsis"></i>
              </a>
            </li> -->
          </ul>
          <!-- <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button> -->
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
          <div id="settings-trigger"><i class="ti-settings"></i></div>
          <div id="theme-settings" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <p class="settings-heading">SIDEBAR SKINS</p>
            <div class="sidebar-bg-options selected" id="sidebar-light-theme">
              <div class="img-ss rounded-circle bg-light border mr-3"></div>
              Light
            </div>
            <div class="sidebar-bg-options" id="sidebar-dark-theme">
              <div class="img-ss rounded-circle bg-dark border mr-3"></div>
              Dark
            </div>
            <p class="settings-heading mt-2">HEADER SKINS</p>
            <div class="color-tiles mx-0 px-4">
              <div class="tiles success"></div>
              <div class="tiles warning"></div>
              <div class="tiles danger"></div>
              <div class="tiles info"></div>
              <div class="tiles dark"></div>
              <div class="tiles default"></div>
            </div>
          </div>
        </div>
        <div id="right-sidebar" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
            </li>
          </ul>
          <div class="tab-content" id="setting-content">
            <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
              <div class="add-items d-flex px-3 mb-0">
                <form class="form w-100">
                  <div class="form-group d-flex">
                    <input type="text" class="form-control todo-list-input" placeholder="Add To-do" />
                    <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                  </div>
                </form>
              </div>
              <div class="list-wrapper px-3">
                <ul class="d-flex flex-column-reverse todo-list">
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" />
                        Team review meeting at 3.00 PM
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" />
                        Prepare for presentation
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" />
                        Resolve all the low priority tickets due today
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked />
                        Schedule meeting for next week
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                  <li class="completed">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="checkbox" type="checkbox" checked />
                        Project review
                      </label>
                    </div>
                    <i class="remove ti-close"></i>
                  </li>
                </ul>
              </div>
              <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="ti-control-record text-primary mr-2"></i>
                  <span>Feb 11 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                <p class="text-gray mb-0">The total number of sessions</p>
              </div>
              <div class="events pt-4 px-3">
                <div class="wrapper d-flex mb-2">
                  <i class="ti-control-record text-primary mr-2"></i>
                  <span>Feb 7 2018</span>
                </div>
                <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                <p class="text-gray mb-0">Call Sarah Graves</p>
              </div>
            </div>
            <!-- To do section tab ends -->
            <!-- <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
              <div class="d-flex align-items-center justify-content-between border-bottom">
                <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
                <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
              </div>
              <ul class="chat-list">
                <li class="list active">
                  <div class="profile"><img src="{% static 'images/faces/face1.jpg' %}" alt="image" /><span class="online"></span></div>
                  <div class="info">
                    <p>Thomas Douglas</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">19 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="{% static 'images/faces/face2.jpg' %}" alt="image" /><span class="offline"></span></div>
                  <div class="info">
                    <div class="wrapper d-flex">
                      <p>Catherine</p>
                    </div>
                    <p>Away</p>
                  </div>
                  <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                  <small class="text-muted my-auto">23 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="{% static 'images/faces/face3.jpg' %}" alt="image" /><span class="online"></span></div>
                  <div class="info">
                    <p>Daniel Russell</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">14 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="{% static 'images/faces/face4.jpg' %}" alt="image" /><span class="offline"></span></div>
                  <div class="info">
                    <p>James Richardson</p>
                    <p>Away</p>
                  </div>
                  <small class="text-muted my-auto">2 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="{% static 'images/faces/face5.jpg' %}" alt="image" /><span class="online"></span></div>
                  <div class="info">
                    <p>Madeline Kennedy</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">5 min</small>
                </li>
                <li class="list">
                  <div class="profile"><img src="{% static 'images/faces/face6.jpg' %}" alt="image" /><span class="online"></span></div>
                  <div class="info">
                    <p>Sarah Graves</p>
                    <p>Available</p>
                  </div>
                  <small class="text-muted my-auto">47 min</small>
                </li>
              </ul>
            </div> -->
            <!-- chat tab ends -->
          </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dashboard' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'data' %}">
                <i class="icon-grid-2 menu-icon"></i>
                <span class="menu-title">Tabel Data</span>
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'tesupload' %}">
                  <i class="icon-paper menu-icon"></i>
                  <span class="menu-title">Data Output</span>
                </a>
              </li>
          </ul>
        </nav>
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            {% if request.method == 'GET' %}
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Merge Output</h4>
                 
                  <form class="forms-sample" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" name="nama" placeholder="Title">
                      </div>
                    <div class="form-group">
                      <label>File EEG</label>
                      <input type="file" name="myxlsx" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                        <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                      </div>
                    </div>
                    <div class="form-group">
                        <label>File Temperature-Heart Rate</label>
                        <input type="file" name="myjson" class="file-upload-default">
                        <div class="input-group col-xs-12">
                          <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                          <span class="input-group-append">
                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                          </span>
                        </div>
                      </div>
                  
              
                    <a href=""><button type="submit" class="btn btn-primary btn-icon-text"><i class="ti-upload btn-icon-prepend"></i>Merge</button></a>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<!-- starts here -->
{% elif request.method == 'POST' %}
            <div class="col-md-12 grid-margin transparent">
              <div class="row">
                
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="col-md-12 mb-4 stretch-card transparent">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title text-center align-items-center">{{nama}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="col-md-12 mb-4 stretch-card transparent">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Heart Rate - Temperature Chart</p>
                    <p class="font-weight-500">The total number BPM of sessions within the date range. This is a period of time when the user's heart rate data fluctuates</p>
                    <div class="d-flex flex-wrap mb-5">
                      <div class="mr-5 mt-3">
                        <p class="text-muted">Average BPM</p>
                        <h3 class="text-primary fs-30 font-weight-medium" id="avgbpm">{{avgbpm}}</h3>
                      </div>
                      <div class="mr-5 mt-3">
                        <p class="text-muted">Highest BPM</p>
                        <h3 class="text-primary fs-30 font-weight-medium" id="highbpm">{{highbpm}}</h3>
                      </div>
                      <div class="mr-5 mt-3">
                        <p class="text-muted">Lowest BPM</p>
                        <h3 class="text-primary fs-30 font-weight-medium" id="lowbpm">{{lowbpm}}</h3>
                      </div>
                      <div class="mr-5 mt-3">
                          <p class="text-muted">Average Temperature</p>
                          <h3 class="text-primary fs-30 font-weight-medium" id="avgtemp">{{avgtemp}}</h3>
                        </div>
                        <div class="mr-5 mt-3">
                          <p class="text-muted">Highest Temperature</p>
                          <h3 class="text-primary fs-30 font-weight-medium" id="hightemp">{{hightemp}}</h3>
                        </div>
                        <div class="mr-5 mt-3">
                          <p class="text-muted">Lowest Temperature</p>
                          <h3 class="text-primary fs-30 font-weight-medium" id="lowtemp">{{lowtemp}}</h3>
                        </div>

                    </div>

                    <canvas class="chartjs-render-monitor-size-expand" id="myLineChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="col-md-12 mb-4 stretch-card transparent">
                <div class="card">
                  <div class="card-body">
                    <p class="card-title">Ectroencephalogram Data Chart</p>
                    <p class="font-weight-500">The total number Body Temperature of sessions within the date range. This is a period of time when the user's body temperature data fluctuates</p>
                    <div class="checker">
                    <div class="d-flex flex-wrap mb-5">
                        <div class="mr-3 mt-3">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="checkbox" class="form-check-input delta" checked>
                                Delta
                              </label>
                            </div>
                            </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input theta" checked>
                              Theta
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input lowalpha" checked>
                              Low-Alpha
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input highalpha" checked>
                              High-Alpha
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input lowbeta" checked>
                              Low-Beta
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input highbeta" checked>
                              High-Beta
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input lowgamma" checked>
                              Low-Gamma
                            </label>
                          </div>
                        </div>
                        <div class="mr-3 mt-3">
                          <div class="form-check">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input midgamma" checked>
                              Mid-Gamma
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                      </div>
                    <canvas id="eegchart"></canvas>
                  </div>
                </div>
              </div>
            </div>

          
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="col-md-12 mb-4 stretch-card transparent">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title">Attention-Heart Rate Chart</p>
                      <p class="font-weight-500">The total number Body Temperature of sessions within the date range. This is a period of time when the user's body temperature data fluctuates</p>
                    <div>
                      
                    </div>
                      <canvas id="attentionchart"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            <script>
    
            // Add event listeners to all checkboxes
      

            var dataeeg = {
              labels : JSON.parse('{{time|safe}}'),
              datasets: [
      
              ]
            }

            var optionseeg = {
              datasets:{
                line:{
                  pointRadius:0
                }
              },
              scales :{
                y:{
                  
                }
              
              }
            }
            var dataattention = {
              labels : JSON.parse('{{time|safe}}'),
              datasets : [
                {
                  label : 'Attention',
                  borderColor : 'red',
                  backgroundColor : 'red',
                  data : JSON.parse('{{attention|safe}}'),
                },
                {
                  label:"Relaxation",
                  borderColor : 'green',
                  backgroundColor : 'green',
                  data : JSON.parse('{{relaxation|safe}}')
                },
                {
                  label : "Heart Rate",
                  borderColor : 'yellow',
                  backgroundColor : 'yellow',
                  data : JSON.parse('{{bpm|safe}}')
                }
              
              
              ]
            }
            var optionsattention ={
              datasets:{
                line:{
                  pointRadius:0
                }
              }
            }
            var data = {
              labels: JSON.parse('{{time|safe}}'),
              datasets: [
                {
                  yAxisID : 'A',
                  label: 'BPM',
                  borderColor: 'red',
                  backgroundColor:'red',
              
                  data: JSON.parse('{{bpm|safe }}'),
            
                },
                {
                  yAxisID:'B',
                  label : 'Temp',
                  borderColor : 'blue',
                  backgroundColor:'blue',
                  data : JSON.parse('{{temp|safe }}'),
                  
                }
              ],
            };
          
            var options = {
              responsive : true,
              interaction:{
                mode:'index',
                intersect:false,
              },
              stacked:false,
              plugins:{
                title:{
                  display:true,
                  text:'Grafik Heart Rate-Temperature'
                }
              },
              scales:{
                A:{
                  type:'linear',
                  position:'left',
                  ticks : {beginAtZero:true, color:'red'},
                  grid:{display:false}
                  
                },
                B:{
                  type:'linear',
                  position:'right',
                  ticks:{beginAtZero:true, color:'blue'},
                  grid:{display:false}
                },
                x:{ticks:{beginAtZero:true}}
              },
              elements: {
                line: {
                    tension: 0.1
                }
            },
            datasets:{
                line:{
                  pointRadius:0
                }
              }
        };
        

            var ctx = document.getElementById('myLineChart').getContext('2d');
            ctx.width = "200";
            ctx.heigth = "100";
            var myLineChart = new Chart(ctx, {
              type: 'line',
              data: data,
              options:options
            
            });

            var eegchart = document.getElementById('eegchart').getContext('2d');
            var myeegchart = new Chart(eegchart, {
              type:'line',
              data: dataeeg,
              options: optionseeg
            })
        
            var attentionchart = document.getElementById('attentionchart').getContext('2d');
            var myattentionchart = new Chart(attentionchart, {
              type : 'line',
              data : dataattention,
              options : optionsattention
            })
          
            document.querySelectorAll('.checker').forEach(function(checkbox) {
    checkbox.addEventListener('change', function() {
        console.log('as');
        checkbox.checked = true;
        updateChart();
    });

    // Set all checkboxes to checked on page load
    checkbox.checked = true;
});

updateChart();

// Function to update the chart based on selected checkboxes
function updateChart() {
  console.log('tes')
    // Arrays to store selected data
    var selectedData = [];
    var selectedLabels = [];

    // Loop through all checkboxes to check which ones are selected
    document.querySelectorAll('.form-check-input').forEach(function(checkbox, index) {
        if (checkbox.checked) {
          console.log('masuk')
            // If checkbox is checked, add corresponding data to selected arrays
            var checkboxClass = checkbox.classList[1];
            selectedLabels.push(checkboxClass);
            selectedData.push(getDataByClass(checkboxClass));
        }
       
    });

    // Update chart data
    myeegchart.data.datasets = [];

    // Add selected datasets to chart
    for (var i = 0; i < selectedLabels.length; i++) {
        myeegchart.data.datasets.push({
            label: selectedLabels[i],
            data: selectedData[i],
            borderWidth: 1,
        });
    }
    
    // Update the chart
    myeegchart.update();
    
    function getDataByClass(checkboxClass) {
    // Define data based on checkbox class (customize based on your needs)
    switch (checkboxClass) {
        case 'delta':
            return JSON.parse('{{delta|safe}}'); // Replace with the actual data for 'xxx'
        // Add more cases as needed
        case 'theta':
            return JSON.parse('{{theta|safe}}')
        case 'lowalpha':
            return JSON.parse('{{lowalpha|safe}}')
        case 'highalpha':
            return JSON.parse('{{highalpha|safe}}')
        case 'lowbeta':
            return JSON.parse('{{lowbeta|safe}}')
        case 'highbeta':
            return JSON.parse('{{highbeta|safe}}')
        case 'lowgamma':
            return JSON.parse('{{lowgamma|safe}}')
        case 'midgamma':
            return JSON.parse('{{midgamma|safe}}')
        default:
            return [];
    }
  }
}

          </script>
          {% endif %}
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static '/vendors/js/vendor.bundle.base.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{% static '/vendors/typeahead.js/typeahead.bundle.min.js'%}"></script>
  <script src="{% static '/vendors/select2/select2.min.js'%}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static '/js/off-canvas.js'%}"></script>
  <script src="{% static '/js/hoverable-collapse.js'%}"></script>
  <script src="{% static '/js/template.js'%}"></script>
  <script src="{% static '/js/settings.js'%}"></script>
  <script src="{% static '/js/todolist.js'%}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static '/js/file-upload.js'%}"></script>
  <script src="{% static '/js/typeahead.js'%}"></script>
  <script src="{% static '/js/select2.js'%}"></script>
  <!-- End custom js for this page-->
</body>

</html>
